body {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 4em;
}

#hover {
  justify-content: center;
  display: flex;
  margin: auto;
}

#wrapper {
  display: none;
  margin: auto;
  width: 50%;
}

#tangerine {
  width: 20%;
}

#sharpie {
  transform: translate(0%, -450%) rotate(90deg);
  width: 25%;
}

#ruler {
  width: 43%;
}

#close {
  font-size: 2em;
  transform: translate(-10%);
}

.item {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-right: 23px;
}

.text {
  text-align: center;
  line-height: 20px;
  margin-top: 60px;
}

/* media query for iPad */

/* set min and width so that item and text display in vertical form */

@media only screen and (max-width: 768px) {
  .item {
    display: block;
    width: 50%;
    padding: 0;
    margin-bottom: 50px;
  }
  .text {
    line-height: 35px;
  }
  #title {
    font-size: 2em;
    margin-top: 20px;
  }
  #description {
    font-size: 1.5em;
  }
  #tangerine {
    width: 50%;
  }
  #sharpie {
    transform: translate(0%) rotate(0deg);
    width: 70%;
  }
  #ruler {
    margin-bottom: 0;
    width: 70%;
  }
}

footer {
  position: fixed;
  text-align: center;
  bottom: 2%;
  left: 2%;
}

a:link {
  text-decoration: none;
  color: black;
  padding-right: 15px;
}

a:visited {
  color: black;
}
