body {
  font-family: 'Amatic SC', cursive;
  font-size: 1.5em;
  height: 100%;
  overflow: hidden;
}

header {
  text-align: center;
  font-size: 3em;
}

div {
  width: 100%;
  margin: auto;
}

/* positioning items */

.item {
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  padding-left: 100px;
}

#wrapper {
  display: none;
  margin-top: 40px;
  margin: auto;
  width: 75%;
}

#title {
  font-size: 1.5em;
  clear: left;
  text-align: center;
}

#description {
  text-align: center;
}

#close {
  display: block;
}

#bag {
  display: flex;
  justify-content: center;
  position: absolute;
}

/* media query for iPad */

@media only screen and (max-width: 768px) {
  .item {
    width: 30%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding: 0%;
  }
  .text {
    transform: translate(0%, 30%);
  }
  #close {
    transform: translate(20%, 200%);
  }
  footer {
    /* bottom: 20%; */
  }
}

footer {
  position: fixed;
  text-align: center;
  bottom: 20%;
}

a:link {
  text-decoration: none;
  color: black;
  margin-right: 30px;
}

a:visited {
  color: black;
}
