/*-----CSS STYLES------------------------------------------------*/

body {
  margin: auto;
  /* background: radial-gradient(circle, #414141, #1C1C1C); */
  background: #E8CBC0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #636FA4, #E8CBC0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1.intro {
  margin-top: 250px;
  font-size: 80pt;
  color: white;
  font-weight: 400;
  letter-spacing: 10px;
  font-family: 'Lato', sans-serif;
}

p.intro {
  font-size: 14pt;
  font-family: 'Merriweather', serif;
  font-weight: 300;
  width: 25%;
  margin-left: 38%;
  text-align: center;
  line-height: 30px;
  color: white;
}

.titlehome {
  float: left;
  position: relative;
}

.intro {
  margin-bottom: 5%;
}

.container {
  text-align: center;
  margin: 0;
  left: 50%;
  top: 50%;
}

p {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  color: white;
  font-weight: 300;
}

/* button styles ---------------------------------------------------*/

/*enter button on index page*/

.btn {
  padding: 5px;
  padding-left: 40px;
  padding-right: 40px;
  color: white;
  border: 1px solid white;
  border-radius: 25px;
  text-align: center;
  top: 70%;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 23pt;
  transition: all 0.4s ease 0s;
}

.btn:hover {
  background-color: white;
}

/* Share or View page -----------------------------------*/

.show {
  display: block;
}

.hide {
  display: none;
}

.sharestoryhead {
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 6%;
  left: 6%;
}

/* fadeinout */

@keyframes fadeInOut {
  0% {
    opacity: 1;
    z-index: 1;
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  16% {
    opacity: 1;
    z-index: 1;
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  84% {
    opacity: 1;
    z-index: 1;
    background: #E8CBC0;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #636FA4, #E8CBC0);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }
  100% {
    opacity: 0;
  }
}

.overlay {
  /* width: 400px; */
  /* margin: 0 auto; */
  position: absolute;
  /* top: 0; */
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  text-align: center;
  -webkit-animation: fadeInOut 4s;
  animation: fadeInOut 4s;
}

p.shareview-animation {
  text-align: center;
  padding-top: 25%;
  width: 100%;
  line-height: 2em;
  height: 45%;
  font-size: 16px;
  /* padding-left: 100%; */
}

#shareview {
  padding-left: 40%;
  padding-top: 20%;
  display: inline-block;
}

#shareview a {
  font-family: 'Lato', serif;
  font-weight: 300;
  font-size: 25px;
  color: white;
}

.onshare {
  border-bottom: 2px white solid;
  width: inherit;
  width: 300px;
  line-height: 80px;
}

.onview {
  margin-top: 20px;
}

.line {
  display: block;
  margin: 25px;
  font-size: 15px;
  text-align: center;
  position: relative;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 50px;
  color: white;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* border: 1px solid red; */
}

.sv {
  padding-bottom: 30px;
}

input {
  padding: 3px;
  outline: none;
  border: 1px white solid;
  background-color: gray;
  margin-top: 5px;
}

input[type="text"] {
  width: 90px;
}

#formsubmit, #maybelater {
  padding: 7px;
  padding-left: 11px;
  padding-right: 11px;
  color: white;
  border: 1.5px solid white;
  border-radius: 25px;
  background-color: transparent;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 10pt;
  transition: all 0.4s ease 0s;
  margin-right: 10px;
}

#formsubmit:hover, #maybelater:hover {
  background-color: white;
  color: #8491C4;
}

/*---STORIES STYLES--------------------------------------*/

canvas {
  display: inline-block;
  top: 0;
  position: fixed;
  z-index: -5;
}

/* link styles-------------------------------------------- */

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: gray;
}

nav {
  overflow: hidden;
}

nav ul {
  list-style: none;
  float: right;
  text-align: right;
  padding: 10px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

nav ul li {
  display: inline;
  padding-left: 30px;
}

nav ul li:last-child {
  padding-right: 30px;
}

/* styles for resource and about page */

.resourceabout {
  margin-left: 7%;
  color: white;
  font-family: 'Lato', sans-serif;
}

p.resourceabout {
  font-family: 'Merriweather', serif;
  font-weight: 300;
}

h1.resourceabout {
  font-size: 40px;
  font-weight: 400;
  margin-top: 2%;
}

/*form styles on share.html-------------------------------*/

.sharestoryhead {
  color: white;
  font-size: 40px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
  position: fixed;
  top: 6%;
  left: 6%;
}

#shareform {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: auto;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
  margin-left: 35%;
}

.wrapper {
  display: grid;
  margin-top: 2%;
}

.full-width {
  grid-column: 1 / 3;
}

form label {
  display: block;
  color: white;
  font-size: 4;
  /* margin-bottom: 2px; */
}

input[type="text"], textarea {
  width: 100%;
  height: 20px;
  padding: 6px;
  border: none;
  background-color: #636FA4;
  border-radius: 5px;
  color: white;
}

#share {
  width: 100%;
  height: 70px;
}

/* styles for resources page --------------------------------*/

.resourcecard {
  margin-left: 6%;
  margin-top: 2%;
}

.card {
  font-family: 'Merriweather', serif;
  font-size: 12px;
  width: 25%;
  height: 200px;
  display: inline-table;
  margin: 1%;
  border: 0.5px rgb(235, 235, 235) solid;
  padding: 2%;
  color: white;
}

/* styles for ABOUT page --------------------------------*/

.aboutpage {
  margin-left: 7%;
  margin-right: 50%;
  color: white;
  line-height: 15pt;
}

p.aboutpage {
  margin-bottom: 1.5%;
}

/* styles for FOOTER--------------------------------*/

footer {
  text-align: center;
  bottom: 0%;
  position: fixed;
  color: white;
  padding: 25px;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

footer a:link {
  color: gray;
  margin-right: 20px;
}

/* stories html */

#teststories {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 60px 30px #fff, /* inner white */
  0 0 100px 60px #f0f, /* middle magenta */
  0 0 140px 90px #0ff;
  /* outer cyan */
}
