body {
  padding: 40px;
  font-family: 'Alegreya Sans', sans-serif;
}

div {
  width: 100%;
  max-width: 900px;
  margin: auto;
}

header img {
  margin-left: 300px;
}

h1 {
  font-family: 'Indie Flower', cursive;
  color: #B12057;
  text-align: center;
}

article {
  width: 50%;
  float: left;
  margin: 20px;
  border-radius: 30px;
  padding: 15px 25px 15px 30px;
  width: 400px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .25);
}

form {
  margin-left: 15%;
  max-width: 300px;
}

label {
  width: 6em;
  text-align: right;
  display: inline-block;
  margin-bottom: 2%;
  color: #B12057;
}

input {
  padding: 3px;
  outline: none;
  border: 1px white solid;
  background-color: pink;
}

input[type="text"], input[type="time"] {
  width: 90px;
  border-radius: 10px;
  margin: 5px;
  font-family: 'Alegreya Sans', sans-serif;
}

input[type="reset"], input[type="submit"] {
  width: 100px;
  margin: 2%;
  background-color: #B12057;
  color: white;
  border-radius: 20px;
}

input[type="reset"]:focus, input[type="submit"]:focus {
  background-color: pink;
  color: black;
}

p {
  font-size: 20px;
  font-family: 'Indie Flower', cursive;
  line-height: 28px;
  width: 400px;
}

footer {
  clear: right;
  position: fixed;
  bottom: 0%;
  text-decoration: none;
  left: 0%;
}

a:link {
  text-decoration: none;
  color: #B12057;
  margin: 20px;
}

a:hover {
  color: #B12057;
}

.show {
  display: block;
}

.hide {
  display: none;
}
